.major-card-image {
  max-width: 300px !important;
  max-height: 300px;
}

.major-card-shadow {
  box-shadow: 3px 3px black;
}

.text-shadow-2 {
  text-shadow: 2px 2px black;
}

.text-shadow-1 {
  text-shadow: 1px 1px black;
}

.drop-shadow-1 {
  box-shadow: 1px 1px black;
}
