.teacher-form {
  font-family: 'Rye', cursive;
  color: #f2efe8;
}

.teacher-card {
  margin: 5px;
  box-shadow: 3px 3px black;
}

.teacher-image {
  max-height: 300px;
}

.teacherLounge {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  margin: 0 auto;  
  margin-bottom: 50px;
}

.show-teacher-form {
  box-shadow: 1px 1px black;
}

#update-teacher {
  box-shadow: 1px 1px black;
}

.edit-teacher {
  box-shadow: 1px 1px black;
}

.delete-teacher {
  box-shadow: 1px 1px black;
}

.submit-teacher-form {
  box-shadow: 1px 1px black;
}
