.teacher-form {
  font-family: 'Rye', cursive;
  color: #f2efe8;
}

.teacher-card {
  margin: 5px;
}

.teacher-image {
  // display: flex;
  // width: auto;
  max-height: 300px;
  // align-items: flex-start;
  // margin-left: auto;
  // margin-right: auto;
}

.teacherLounge {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;  
}
