.detailsHeading {
  font-family: 'Rye', cursive;
  color: #f2efe8;
};

.teacherCont {
  padding: 0px !important;
}

.studentContainer {
  padding-left: 0px !important;
}

.studentName {
  cursor: pointer
};

.gradeFormText {
  color: white;
}

.gradeFormCont {
  width: 20%;
}
