@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    display: grid;
    background-color: #0B3456;
}

.add-display {
    grid-template-columns: 20vw 80vw;
}

.default-main {
    margin-top: 85px;
    width: 100%;
    height:669px;
}

.add-form {
    height: 80vh;
    width: 17vw;
    background-color: #F2EFE9;
    margin: 115px 10px 10px 10px;
    position: fixed;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
}

.navbar {
    background-color: #F2EFE9;
    height: 85px;
}

.nav-logo {
    height: 70px;
}

.cards-container {
    display: flex;
    margin-top: 90px;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.class-card {
    background-color: #F2EFE9;
    height: 500px;
    width: 300px;
    float: left;
    margin: 5px;
    text-align: center;
}

.class-card-img {
    object-fit: cover;
    width: 100%;
    height: 340px;
    margin: 0;
}

.card-body {
    overflow: scroll;
    padding: 5px;
}

.students-container {
    display: flex;
    margin-top: 100px;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.students-card {
    background-color: #F2EFE9;
    height: 400px;
    width: 300px;
    float: left;
    margin: 5px;
    overflow: scroll;
}

.students-card-img {
    object-fit: cover;
    width: 100%;
    height: 60%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #F2EFE9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0B3456;
  border-radius: 10px;
}

.hidden {
  display: none;
}
