@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    display: grid;
    background-color: #0B3456;
}

.navbar {
    background-color: #F2EFE9;
    height: 85px;
}

.nav-logo {
    height: 70px;
}

.classes-container {
    display: flex;
    margin-top: 100px;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.class-card {
    background-color: #F2EFE9;
    height: 400px;
    width: 300px;
    float: left;
    margin: 5px;
    overflow: scroll;
}

.class-card-img {
    object-fit: cover;
    width: 100%;
    height: 60%;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #F2EFE9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0B3456;
  border-radius: 10px;
}

.hidden {
  display: none;
}

// hey
