
.classContainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  margin: 0 auto;

  .classTitle {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    margin-bottom: 0px !important;
  }

  h5 {
    margin-bottom: 0px;
  }

  .classCard {
    margin: 5px;
  }

  .classBody {
    padding: 0px 20px 10px 20px;
  }
  
  .card-img-overlay {
    display:flex;
    padding: 5px 15px 5px 5px;
    align-items: flex-start;
    text-align: center;
  }

  .descriptionP {
    color:white;
    align-self: flex-end;
    margin-bottom: 42px !important;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
  }


}

.classEditBtn {
  color: #488fc3;
  cursor: pointer !important;
}

.classForm {
  width: 70%;
  margin: 0 auto;
  color:white;
}
.homeH3 {
  font-family: 'Rye', cursive;
  color: #f2efe8;
  text-align: center;
}

.alert {
  padding: 5px 15px !important;
}

.classCreate {
  text-align: center;
}

.classFooter {
  padding: 0px !important;
  margin: 0px !important;
}

.footerBold {
  font-weight: bold;
}
