.rideName {
  font-weight: bolder;
}

.btnwrench {
  pointer-events: none;
}

.rideContainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  margin: 0 auto;

  .rideTitle {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    margin-bottom: 0px !important;
  }

  h5 {
    margin-bottom: 0px;
  }
    
  .fa-wrench {
    color: red;
  }

  .fa-thumbs-up {
    color: green;
  }

  .rideCard {
    margin: 5px;
  }

  .rideBody {
    padding: 0px 20px 10px 20px;
  }
  
  .card-img-overlay {
    display:flex;
    padding: 5px 15px 5px 5px;
    align-items: flex-start;
    text-align: center;
  }

  .deleteRideIcon {
    color: red;
    cursor: pointer;
  }
  
  .descriptionP {
    color:white;
    align-self: flex-end;
    margin-bottom: 42px !important;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
  }


}
.card-title {
  z-index: 1;
}
.rideEditBtn {
  color: #488fc3;
  cursor: pointer !important;
}

.rideForm {
  width: 70%;
  margin: 0 auto;
  color:white;
}
.homeH3 {
  text-align:center;
  font-family: 'Luckiest Guy', cursive;
  color: #f9ea1a;
}

.alert {
  padding: 5px 15px !important;
}

.rideCreate {
  text-align: center;
}
